.DataTree{
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: auto;
  width: 60%;
}
.dataGrid {
    height: 423px;
    overflow: auto;
}
.cellWithImg{
    display: flex;
    align-items: center;
}
.cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.cellAction{
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 12px;
}
.deleteButton{
    padding: 2px 5px;
    border-radius: 5px;
    color: red;
    border: 1px dotted red;
    cursor: pointer;
    align-items: center;
    display: flex;
}
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(42,128,0);
    border: 1px dotted rgb(42,128,0);
    cursor: pointer;
    position: relative;
  }
  
  .add-button:hover::before,
  .add-button:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 1px;
    background-color: rgb(42,128,0);
    display: none;
  }
  
  .add-button:hover::before {
    left: -12px;
  }
  
  .add-button:hover::after {
    right: -12px;
  }
  
DataGrid{
        overflow: auto;
       
}
