
#icon-file{
    font-size: 20px;
    margin-left: 63px;

}

.profile_img{
    @apply border-4 border-gray-100 w-[125px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}
