
.tree {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: rgb(42, 128, 0);
    font-size: 20px;
    text-align: center;
    margin-left: 600px;
  }
  
  .titleAndButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    /*background-color: ;*/
    background-color:  rgb(42, 128, 0);
    color: white;
    
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 10%;
    margin-right: 50px;
  }
  
  .addButton:hover {
    background-color: whitesmoke;
    color: rgb(42, 128, 0);
    border: 1px solid rgb(42, 128, 0);
   
    
  }
  