.land{
   padding-top: 20px; 
   padding-bottom: 20px;
   font-weight: bold;
   color: rgb(42,128,0);
   font-size: 20px;
   text-align: center;  
}
  
.addButtonn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   border-radius: 5px;
   color: #fff;
   /*background-color: ;*/
   background-color:  rgb(42, 128, 0);
   color: white;
   
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   width: 7%;
   margin-right:10px;
 }
 
 .addButtonn:hover {
   background-color: whitesmoke;
   color: rgb(42, 128, 0);
   border: 1px solid rgb(42, 128, 0);
  
   
 }

